* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.container h2 {
    margin-top: 100px;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}

/* -- H E A D E R -- */

header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    position: fixed;
    width: 100vw;
    background: rgb(255, 255, 255, 60%);
}

.head_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.BS_logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #08A6E4;
    font-size: 32px;
}

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #A5A5A5;
    scroll-behavior: smooth;
}
.menu a:hover {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
    padding-bottom: 25px;
}
.menu li {
    padding-right: 95px;
}

.menu li:last-of-type {
    padding-right: 0;
}

/* -- M A I N  P A G E -- */

.btn_top {
    width: 150px;
    top: 150px;
    border-radius: 50%;
    background: #08A6E4;
    display: flow;
    position: absolute;
    z-index: 2;
}

.main_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.main_head {
    margin-top: 130px;
}

.main_page h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
}

.main_head p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.main_head a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    box-shadow: 5px 1px 27px rgba(7, 172, 230, .60);
    background: #08A6E4;
    padding: 22px 157px;
    border-radius: 40px;
}

.main_head a:hover {
    font-weight: bold;
    box-shadow: 0 0 16px 10px rgba(7, 172, 230, .62);
    background: #00b7ff;
    font-size: 20px;
    border-radius: 40px;
    transform: scale(1.5);
}

.main_page img {
    margin-top: 28px;
    box-shadow: -10px 17px 17px -24px rgba(126, 126, 126, 1)
}

/* -- W H Y  U S -- */

.whyus {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.sales_stats {
    display: flex;
    justify-content: space-around;
    margin-top: 101px;
    margin-left: 150px;
    margin-right: 150px;
}

.circle {
    background: #FB3B64;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    margin-left: 13px;
}

.whyus_stats:nth-child(2) .circle {
    background: #08A6E4;
    margin-left: 25px;
}

.whyus_stats:nth-child(3) .circle {
    background: #55DFB4;
}

.circle img {
    position: absolute;
    left: 30px;
    align-items: center;
}

.eye_img {
    top: 15px;
}

.catalog_img {
    top: 5px;
}

.whyus_stats h3 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 13px;
}

.whyus_stats p {
    margin-top: 19px;
    font-size: 16px;
    font-weight: 500;
    color: #A5A5A5;
    margin-bottom: 122px;
}

/* -- B E N E F I T S -- */

.benefits_container {
    background: #F7F7F7;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits_banner {
    width: 1124px;
    height: 370px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    margin-bottom: 37px;
}

.benefits_banner:nth-of-type(3) {
    background: none;
}

.benefits_banner:nth-of-type(1) {
    margin-top: 106px;
}

.benefits_banner:nth-of-type(2) {
    flex-direction: row-reverse;
}

.banner_text {
    max-width: 416px;
}

.benefits_banner_last {
    width: 623px;
    height: 370px;
    background: #FFFFFF;
    position: relative;
    right: 50px;
    border-radius: 5px;
}

.benefits_advertising {
    padding-left: 35px;
}

.banner_text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 30px;
}

.benefits_banner_last p {
    width: 553px;
}

.b_p1:after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: #FB3B64;
    display: block;
    margin-top: 50px;
}

.b_p2:after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: #08A6E4;
    display: block;
    margin-top: 50px;
}

.b_p3:after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: #55DFB4;
    display: block;
    margin-top: 50px;
}

.banner_image {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.banner_Macbook {
    width: 386px;
    height: 219px;
    margin-top: 75px;
    margin-right: 118px;
    position: relative;
    z-index: 1;
}

.benefits_macbook .banner_image:before{
    content: "";
    background: #FB3B64;
    width: 180px;
    height: 180px;
    display: flex;
    transform: rotate(45deg);
    border-radius: 40px;
    position: absolute;
    margin-top: 76px;
    margin-left: 210px;

}

.banner_iphone {
    width: 426px;
    height: 328px;
    z-index: 1;
    position: relative;
}
.benefits_iphone:before {
    content: "";
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 50px;
    background: #08A6E4;
    display: flex;
    position: absolute;
}

.banner_trumpet {
    width: 296px;
    height: 208px;
    z-index: 1;
    position: relative;
    top: 30px;
    right: 30px;
}

.benefits_trumpet:before {
    content: "";
    width: 440px;
    height: 370px;
    background: #55DFB4;
    display: flex;
    position: absolute;
    margin-left: -90px;
    border-radius: 5px;
}

/* -- P R I C E S -- */

.pricing_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing_content {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.pricing_offer {
    padding-top: 35px;
    padding-bottom: 80px;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    width: 372px;
    height: 461px;
    text-align: center;
    box-shadow: 5px 1px 27px rgba(251, 59, 100, .16);
}

.p_professional{
    border: 1px solid #08A6E4;
    box-shadow: 5px 1px 27px rgba(7, 172, 230, .16);
    display: block;
    text-align: center;
}

.pricing_head {
    font-family: 'Raleway', sans-serif;
}

.pricing_offer h3 {
    font-size: 21px;
    font-weight: bold;
}

.cost {
    font-size: 46px;
    color: #07ACE6;
    margin-top: 14px;
    margin-bottom: 14px;
}

.cost_basic {
    margin-bottom: 90px;
    color: #FB3B64;
}

.cost_premium {
    color: #55DFB4;
}

.pricing_offer p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 61px;
}

.include {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.include li {
    margin-bottom: 25px;
}

.include_ul li:before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../images/Checkmark-1.svg");
}

.basic_ul li:nth-of-type(4):before{
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    background-image: url("../images/Close.svg");
}

.basic_ul li:nth-of-type(5):before{
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    background-image: url("../images/Close.svg");
}

.professional_ul li:last-of-type:before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../images/Close.svg");
}

.pricing_professional {
    margin: 0 40px;
}

.p_premium {
    border: 1px solid #55DFB4;
    box-shadow: 5px 1px 27px rgba(85, 223, 180, 0.16);
}

.pricing_button {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: #08A6E4;
    padding: 16px 64px;
    border-radius: 25px;
    box-shadow: 5px 10px 14px #07ACE629;
    top: 50px;
}

.btn_basic {
    background: #FB3B64;
}

.btn_premium {
    background: #55DFB4;
}

.pricing_basic:hover {
    border-radius: 18px;
    box-shadow: 5px 1px 27px rgb(251, 59, 100, .62);
    transform: scale(1.1)
}

.pricing_professional:hover {
    border-radius: 18px;
    box-shadow: 5px 1px 27px rgba(7, 172, 230, .62);
    transform: scale(1.1)
}

.pricing_premium:hover {
    border-radius: 18px;
    box-shadow: 5px 1px 27px rgba(85, 223, 180, 0.62);
    transform: scale(1.1)
}

.btn_basic:hover {
    box-shadow: 0 0 16px 10px rgb(251, 59, 100, .62);
    background: #ff0b47;
    font-size: 20px;
    border-radius: 30px;
}

.btn_professional:hover {
    box-shadow: 0 0 16px 10px rgba(7, 172, 230, .62);
    background: #00b7ff;
    font-size: 20px;
    border-radius: 30px;
}

.btn_premium:hover {
    box-shadow: 0 0 16px 10px rgba(85, 223, 180, 0.82);
    background: #0fde9e;
    font-size: 20px;
    border-radius: 30px;
}

/* -- C O N T A C T -- */

.contact_container {
    margin-top: 100px;
}

.contact_container {
    padding: 80px 100px 100px;
    display: flex;
    justify-content: center;
}

.contact_text {
    width: 50%;
}

.contact_form {
    width: 50%;
}

.contact_text .contact_h2 {
    margin-top: 0;
}

.contact_text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 22px;
}

.contact_address {
    margin-top: 42px;
}

.contact_text a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #A5A5A5;
    text-decoration: none;
    font-style: normal;
}

.contact_address a:hover {
    color: #08A6E4;
    font-weight: bold;
    margin-right: -9px;
}

.contact_phone {
    margin-left: 20px;
}

/* -- F O R M -- */

form {
    display: flex;
    flex-direction: column;
}

.form_e-mail {
    display: flex;
    flex-direction: column;
    margin: 30px 0 30px 0;
}

.form_name {
    display: flex;
    flex-direction: column;
}

.form_input {
    border: none;
    border-bottom: 1px solid #a5a5a5;
    line-height: 30px;
}

.form_contact_data {
    color: #08A6E4;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 11px;
}

.form_checkbox {
    display: flex;
}

.form_checkbox p{
    margin: 0 10px;
    font-size: 12px;
    line-height: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
}

.btn_send {
    background: #08A6E4 0% 0%;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    border: none;
    padding: 20px 97px;
    margin-top: 20px;
    display: flex;
    align-self: flex-end;

}